/build
/cert.pem
/dist
/key.pem
/lib
/node_modules
/packages/
/webapp
/.npmrc
/*.log
package-lock.json
.DS_Store
electron/dist
electron/pub
**/.idea
/config.json
/config.json.*
/config.local*.json
/src/component-index.js
/.tmp
/webpack-stats.json

#ignore certificates used for docker build

PRDPKICA.crt
dockerio.crt
WebGateway.crt
downloaddockercom.crt

#ignore copied projects
pegacorn-communicate-matrix-js-sdk
pegacorn-communicate-matrix-react-sdk
